<div class="center jumbotron">
  <h1>About Mirepoix</h1>
<p>Mirepoix is a Recipe Manager App with User Authentication. If you're not ready to make an account <br>today, feel free to check out our recipes and have a look around. Once you're ready to join Mirepoix, <br>create your account, add your recipes, connect with other chefs and rate your favorite recipes. </p>
<ul>Mirepoix was made with the following technologies:</ul>
  <ul><a href="https://www.ruby-lang.org/">Ruby 2.2</a></ul>
  <ul><a href="http://rubyonrails.org/">Rails 4.2</a></ul>
  <ul><a href="http://www.postgresql.org/">PostgreSQL 9.4</a></ul>
  <ul><a href="http://getbootstrap.com/">Twitter Bootstrap 3.3</a></ul>
  <ul><a href="http://sass-lang.com/">SASS 3.4</a></ul>
  <ul><a href="https://github.com/decioferreira/bootstrap-generators">bootstrap-generators 3.3</a></ul>
